
.content-wrapper  {
    background-image: url('../img/summer2.jpg');
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.card-header {
    background-color: #ffed9e;
    font-size: 1.4rem;
    font-weight: 500;
}

